+++
title = "Nightingale"
linkTitle = "Nightingale"

+++

{{< blocks/cover title="Welcome to Nightingale" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/didi/nightingale">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">一款经过大规模生产环境验证的、分布式高性能的运维监控系统<br>如果您正在被Zabbix的容量问题、Prometheus的可用性易用性问题所折磨，试试夜莺吧</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
夜莺Fork自Open-Falcon，各核心模块做了大幅优化，引入了滴滴的生产实践经验

可以把夜莺看做是Open-Falcon的下一代
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-expand" title="可伸缩" %}}
对于快速发展的业务，一款可伸缩的监控系统是很有必要的。夜莺的每个模块都可以方便的水平扩展
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-bolt" title="高性能" %}}
得益于内存TSDB和RRD的归档机制，可以在秒级返回成百上千条监控指标，满足高性能监控大盘的需求
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-line" title="高可用" %}}
没有严重的单点故障，易于部署和运维。任一机器挂掉对集群无影响
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-puzzle-piece" title="可扩展" %}}
夜莺的客户端组件与falcon-agent兼容，内置了插件机制和日志监控机制
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-rocket" title="高效" %}}
夜莺集成了对象树（大厂标配），支持策略继承、多种告警函数，也支持告警回调用于故障自愈
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cubes" title="易于部署" %}}
所有后端模块全部使用Go语言编写，减少了模块数量，大幅减小部署难度
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{% blocks/lead color="primary" %}}
除了开源版本，我们同时提供商业版本：滴滴企业级运维平台。商业版不止是一个功能更强大的监控，包含：用户、团队、租户、项目、权限、角色、机器、服务树、批量执行、监控、告警、故障自愈等众多能力。提供售后支持服务，专家培训咨询服务，协助您快速落地。同时提供源码售卖方案，站在滴滴的肩膀上二次开发，投入成本少，快速带来业务价值！
{{% /blocks/lead %}}


{{< blocks/section color="white" >}}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <img src="https://s3-gz01.didistatic.com/n9e-pub/ecmc-img/ecmc-uic-role.png" width="600"/>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <img src="https://s3-gz01.didistatic.com/n9e-pub/ecmc-img/ecmc-mon-screen.png" width="600"/>
</div>
{{< /blocks/section >}}


{{% blocks/lead color="primary" %}}
<a href="https://s.didi.cn/rbLnv" style="color:white;text-decoration:underline;font-size: 36px;">联系我们索取资料试用商业版</a>
{{< /blocks/section >}}
