+++
title = "Nightingale"
linkTitle = "Nightingale"

+++

{{< blocks/cover title="Welcome to Nightingale" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/didi/nightingale">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">云原生、大规模、好用到爆、重新定义国产运维监控<br></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-expand" title="可伸缩" %}}
随着要监控的业务体量上涨，夜莺服务端可以通过增加机器轻松做到增加容量
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-bolt" title="高性能" %}}
在滴滴内部每秒处理2800万个数据点，总指标超过7个亿
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-line" title="高可用" %}}
服务端模块部署多个机器即可轻松组成集群，实现高可用，挂掉一台机器服务无影响
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-puzzle-piece" title="可扩展" %}}
可以灵活整合Prometheus生态、Grafana生态、Open-Falcon生态，存储可插拔
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-rocket" title="高效" %}}
同时支持传统物理机虚拟机场景，也支持容器场景，一站式高效处理混合云生态
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cubes" title="易于部署" %}}
服务端只有一个核心模块，几条命令即可完成部署，快速上手
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{% blocks/lead color="white" %}}
<div style="font-size: 15px;margin-bottom: 30px;">
Nightingale汲取了Zabbix、Open-Falcon、Prometheus、Telegraf、Datadog的优点，我们希望把运维监控这个事情，做到极致。
如果贵司已经将夜莺上了生产，可以加入 <a href="https://v.didi.cn/qAA1kY">OCE</a> ，下面是我们的部分OCE用户， <a href="https://s.didi.cn/3uELw">快来加入OCE吧</a>
</div>
<img src="https://s3-gz01.didistatic.com/n9e-pub/image/n9e-customs.png" alt="" width="1108px">
{{% /blocks/lead %}}


